<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

	<!-- jaminboard CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">

	<title>박재민 게시판</title>

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/question/list}">박재민 게시판</a>
			<div class="navbar-nav">
				<a class="nav-link" th:href="@{/question/list}">게시판 목록</a>
				<a class="nav-link" th:href="@{/question/create}">질문 등록</a>
			</div>
		</div>
	</nav>


	<!-- 기본 템플릿 안에 삽입될 내용 Start -->
	<div th:replace="${content}"></div>
	<!-- 기본 템플릿 안에 삽입될 내용 End -->

</body>

</html>
